.main {
  background-color: $background-color;
  &__content {
    display: grid;
    row-gap: 96px;
    padding-block: 96px;

    @include on-tablet {
      row-gap: 120px;
      padding-block: 120px;
    }
  }
}

// .banner {
//   max-width: 100%;
//   height: 460px;

//   background-image: url(../images/header/Image-10.png);
//   background-position: center;
//   background-size: cover;
// }

// .container {
//   @include content-padding-inline;
//   width: 100%;
//   position: relative;


// justify-self: center;
// }

// .button-view {
//   cursor: pointer;

//   height: 56px;
//   margin-top: -56px;
//   border-radius: 8px;

//   font-family: 'Space Grotesk', sans-serif;
//   font-size: 16px;
//   font-weight: 700;
//   line-height: 27px;
//   color: #fff;
//   text-align: center;

//   background-color: $main-color-text;

//   @include on-desktop {
//     width: 324px;
//   }
// }

// .button-view:hover {
//   cursor: pointer;
//   border: 2px solid #f0f1f4;
//   color: #292929;
//   background-color: $space-color;
// }

// .button-view:active {
//   color: #fff;
//   background-color: #111;
//  }